<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @detalle.cantidad %>
</p>

<p>
  <strong>Prestamos:</strong>
  <%= @detalle.Prestamos_id %>
</p>

<p>
  <strong>Libros:</strong>
  <%= @detalle.Libros_id %>
</p>

<%= link_to 'Edit', edit_detalle_path(@detalle) %> |
<%= link_to 'Back', detalles_path %>
