<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @prestamo.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @prestamo.estado %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @prestamo.Usuario.nombres %> <%= @prestamo.Usuario.apellidos %>
</p>

<%= link_to 'Editar', edit_prestamo_path(@prestamo) %> |
<%= link_to 'Regreso', prestamos_path %>
