<%= form_with(model: libro, local: true) do |form| %>
  <% if libro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(libro.errors.count, "error") %> prohibited this libro from being saved:</h2>

      <ul>
        <% libro.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-2">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, class: 'form-control' %>
  </div>

  <div class="field form-group col-2">
    <%= form.label :autor %>
    <%= form.text_field :autor, class: 'form-control'  %>
  </div>

  <div class="field form-group col-2">
    <%= form.label 'Año'%>
    <%= form.number_field :anyo, class: 'form-control'  %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: 'btn btn-primary ml-3' %>
  </div>
<% end %>
