<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @libro.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @libro.autor %>
</p>

<p>
  <strong>Año</strong>
  <%= @libro.anyo %>
</p>

<%= link_to 'Editar', edit_libro_path(@libro), class: "btn btn-link"  %> |
<%= link_to 'Regresar', libros_path, class: "btn btn-link" %>
